.center {
    text-align: center;
}

.center-div {
    margin: auto;
    width: 50%;
    padding: 10px;

}

.move-to-right-side {
    float: right;
}

.create-user-btn {
    width: 80pt;
    height: 40pt;
    font-size: large;
}

.background-color {
    background-color: #222;
}

.btn-primary {
    color: #fff;
    background-color: #375a7f;
    border-color: #375a7f
}

.btn-primary:hover {
    color: #fff;
    background-color: #2b4764;
    border-color: #28415b
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #2b4764;
    border-color: #28415b;
    box-shadow: 0 0 0 .2rem rgba(85, 115, 146, .5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #375a7f;
    border-color: #375a7f
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #28415b;
    border-color: #243a53
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(85, 115, 146, .5)
}


.add-padding {
    padding: 8pt;
}

h1,
h2,
h3,
h4,
p {
    color: white;
    font-family: sans-serif;
}


.error {
    background: #e74c3c;
    color: white;
    font-family: sans-serif;
    font-size: large;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    text-align: center;
}

.message {
    background: #00bc8c;
    color: white;
    font-family: sans-serif;
    font-size: large;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
    text-align: center;
}